@model Luca.Siemens.Models.SiemensPLC

@{
    ViewData["Title"] = "SiemensTag";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SiemensTag</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div class="list-group">
                <a class="list-group-item text-center active" data-remote="true" href="#" id="categoria_0">
                    Tags PLC Siemens
                </a>

                @for (int i = 0; i < Model.Data.Count; i++)
                {
                    <a class="list-group-item " data-remote="true" href="#sub_categoria_@i" id="categoria_@i" data-toggle="collapse" data-parent="#sub_categoria_@i" style="padding-left: 25px;">
                        <span class="fas fa-tags fa-lg fa-fw " style="color:cornflowerblue"></span>
                        <span style="margin-left: 25px;">@Model.Data[i].Name</span>
                        <span class="menu-ico-collapse"><i class="fa fa-chevron-down" style="margin-right: 5px;float: right;"></i></span>
                    </a>

                    <div class="collapse list-group-submenu" id="sub_categoria_@i">
                        <a href="#" class="list-group-item sub-item" data-parent="#sub_categoria_@i" style="padding-left: 78px;">Nome : @Model.Data[i].Name</a>
                        <a href="#" class="list-group-item sub-item" data-parent="#sub_categoria_@i" style="padding-left: 78px;">Numero DB : @Model.Data[i].DBNumber</a>
                        <a href="#" class="list-group-item sub-item" data-parent="#sub_categoria_@i" style="padding-left: 78px;">Offset Database : @Model.Data[i].DBOffset</a>
                        <a href="#" class="list-group-item sub-item" data-parent="#sub_categoria_@i" style="padding-left: 78px;">Tipo Variabile Siemens: @Model.Data[i].VariableType</a>
                        <a href="#" class="list-group-item sub-item" data-parent="#sub_categoria_@i" style="padding-left: 78px;">Tipo Variabile DotNet: @Model.Data[i].DotNetDataType</a>
                    </div>


                }

            </div>
        </div>
    </div>
</div>

<style>
    /* CSS used here will be applied after bootstrap.css */
    .menu-ico-collapse {
        margin-left: 4px;
    }

    .list-group-submenu .list-group-item:first-child {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    .list-group-submenu .list-group-item:last-child {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
</style>
