@model List<GiDiSiemens.Models.L_SiemensData>
@{
    ViewData["Title"] = "WriteSiemensPLC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery.unobtrusive-ajax.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

<div onclick="w(0)">ciao</div>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">NomeVariabile</th>
            <th scope="col">Valore</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <th scope="row">@(i + 1)</th>
                <td>@Model[i].Name</td>
                @if (Model[i].VariableType == S7.Net.VarType.String)
                {
                    <td>@Html.TextBox(@i.ToString(), @Model[i].Content, new { @class = "form-control", id = @i, @maxlength = $"{Model[i].MaxStringLenght}" })</td>
                }
                else if (Model[i].VariableType == S7.Net.VarType.Int && Model[i].DotNetDataType == typeof(Int16))
                {
                    <td>@Html.TextBox(@i.ToString(), @Model[i].Content, new { type = "number", step = "1", id = @i, @max = "100", @mid = "0"})</td>
                }
                else if (Model[i].VariableType == S7.Net.VarType.Int && Model[i].DotNetDataType == typeof(UInt16))
                {
                    <td>@Html.TextBox(@i.ToString(), @Model[i].Content, new { @class = "form-control", id = @i, @type = "number", @min = $"{UInt16.MinValue}", @max = $"{Int16.MaxValue}", @step = "1" })</td>
                }
                <td><input type="submit" onclick="h(@i)" /></td>
            </tr>
        }
    </tbody>
</table>


<script>
    $('input').blur(function (event) {
        event.target.checkValidity();
    }).bind('invalid', function (event) {
        alert("Valore non compreso tra " + $(event.target).attr("max"));
        setTimeout(function () { $(event.target).focus(); }, 50);
        
    });

    function h(_index) {
        var c = $("#" + _index).val();
        var i = _index;
        console.log(i + " valore = " + c);
        var dataPost = { "Index": i, "Content": c };
        $.ajax({
            type: "POST",
            url: "../Ajax/WriteSiemensPLC_SingleVariable",
            data: JSON.stringify(dataPost),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: sh,
            failure: function (response) {
                alert(response.d);
            }
        });
    }

    function sh() {
        console.log("fatto");
    }


</script>

<hr />