@model List<Luca.Siemens.Models.SiemensTag>
@{
    ViewData["Title"] = "WriteSiemensPLC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/jquery.unobtrusive-ajax.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

@for (int i = 0; i < Model.Count; i++)
{
<form asp-controller="Ajax" asp-action="Write" data-ajax="true" data-ajax-method="POST">
    @if (Model[i].VariableType == S7.Net.VarType.String)
    {
        <span><input type="text" name="Content" value="@Model[i].Content" maxlength="@Model[i].MaxStringLenght" /></span>
    }
    else if (Model[i].VariableType == S7.Net.VarType.Int && Model[i].DotNetDataType == typeof(Int16))
    {
        <span><input type="number" name="Content" value="@Model[i].Content" max="@Int16.MaxValue" min="@Int16.MinValue" /></span>
    }
    else if (Model[i].VariableType == S7.Net.VarType.Int && Model[i].DotNetDataType == typeof(UInt16))
    {
        <span><input type="number" name="Content" value="@Model[i].Content" max="@UInt16.MaxValue" min="@UInt16.MinValue" /></span>
    }
    else if (Model[i].VariableType == S7.Net.VarType.DInt && Model[i].DotNetDataType == typeof(Int32))
    {
        <span><input type="number" name="Content" value="@Model[i].Content" max="@Int32.MaxValue" min="@Int32.MinValue" /></span>
    }
    else if (Model[i].VariableType == S7.Net.VarType.Real && Model[i].DotNetDataType == typeof(double))
    {
        <span><input type="number" name="Content" value="@(Math.Truncate((double)Model[i].Content*1000)/1000)" max="@Single.MaxValue" min="@Single.MinValue" step="0.1"/></span>
    }
    <span><input type="number" name="Index" value="@i" hidden="hidden" /></span>
    <span><input type="submit" /></span>
</form>
}
